---
app:
  name: cocotola-translator-api
  httpPort: 8180
  grpcPort: 50151
  metricsPort: 8181
db:
  # driverName: sqlite3
  # sqlite3:
  #   file: app.db
  driverName: mysql
  mysql:
    username: user
    password: password
    host: 127.0.0.1
    port: 3316
    database: development
auth:
  username: user
  password: password
azure:
  subscriptionKey: $SUBSCRIPTION_KEY
trace:
  exporter: jaeger
  jaeger:
    endpoint: http://localhost:14268/api/traces
cors:
  allowOrigins:
    - "*"
shutdown:
  timeSec1: 1
  timeSec2: 1
log:
  level: info
swagger:
  enabled: true
  host: localhost:8180
  schema: http
debug:
  ginMode: true
  wait: false
